@import url("https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,300&display=swap");
.header {
  background-color: rgb(102, 213, 216);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.7rem 5rem;
  box-shadow: rgb(27, 195, 207) 0px 1px 20px 1px;
  position: sticky;
  top: 0;
  left: 0;
}

.input {
  background-color: white;
  display: flex;
  align-items: center;
  flex: 2;
  height: 2.5rem;
  border: none;
  border-radius: 0.2rem;
  margin-right: 5rem;
  padding: 1rem;
  position: relative;
}

input {
  border: none;
  outline: none;
  width: 90%;
  height: 1rem;
}
.icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
  order: 4;
}
.iconItem:hover {
  cursor: pointer;
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
}
.icons > * {
  margin: 0 0.5rem;
}
.icon {
  position: absolute;
  top: 0.4rem;
  right: 1rem;
  cursor: pointer;
}

.logo {
  flex: 1;
  font-size: 2.2rem;
  font-family: "Mouse Memoirs";
  font-weight: 300;
  margin-left: 2rem;
  cursor: pointer;
}
.logo a {
  text-decoration: none;
  color: black;
}

.signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}
.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 0.7rem;
}
.cart span {
  margin-left: 0.5rem;
}
ul {
  display: flex;
  justify-content: space-evenly;
}

nav {
  flex: 2;
  order: 3;
}
nav ul li {
  list-style: none;
  font-size: 1.1rem;
}
.link {
  text-decoration: none;
  color: black;
}
.link:hover {
  cursor: pointer;
  color: white;
}

.signin a {
  color: black;
}
